<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monochan</title>
    <script src="static/js/japescript.js"></script>
    <script src="monocomp.js"></script>
    <link rel="stylesheet" href="static/css/board.css">
  <link rel="icon" type="image/x-icon" href="static/img/favicon.ico">
</head>



<body>
    <div id="siteBorder">
        <div id="leftTxtBorder">
            <h2>GNU-NAVIX WIRED V1337 BY MACROSOFTWARE (R)</h2>
        </div>
        <div id="rightTxtBorder">
            <h2>MONOCHAN O.S. COMPILATION V1.0</h2>
        </div>
        <div id="siteBody">
            <div id="navbar">
                <div id="navbarLeft">
                    <a href="/">BOARDS</a>
                    <a href="/b">/b</a>
                    <a href="/pol">/pol</a>
                    <a href="/ani">/ani</a>
                    <a href="/404">/ERR</a>
                </div>
                <div id="navbarRight">
                    <a href="#">TWEAKS</a>
                </div>
            </div>

            <img src="static/img/b.png" id="banner">
            <p id="boardName" class="blink">/b/ - Random</p>
            <p id="boardDescription">here, maybe you can find some hope.</p>
            <div id="formList">
                <div id="formListHeader">
                    <p class="headerText blink">return coolCamelCaseCreate(thread);</p>
                </div>
                <div id="formBody">
                    <div class="formElement odd">
                        <p>e-mail address:</p>
                        <input id="email">
                    </div>

                    <div class="formElement even">
                        <p>topic:</p>
                        <input id="topic">
                    </div>

                    <div class="formElement odd">
                        <p>dont type, it will write for you
                            using
                            telepaty.</p>
                        <textarea id="message"></textarea>
                    </div>

                    <div class="formElement even">
                        <p>upload your soul:</p>
                        <input type="file" id="topic">
                    </div>

                    <div class="formElement odd">
                        <p>crypto-code:</p>
                        <input type="password" id="password" value="trust in the Holy Lord, for God is with us.">
                    </div>

                    <div class="formElement even">
                        <p class="blink">last step:</p>
                        <input type="submit" value="submit data to human darknet market">
                    </div>

                </div>
            </div>



            <div id="threadsList">
                <div id="threadsListHeader">
                    <p class="headerText blink">threads(show, enableGovernmentSpy="true")</p>
                </div>

                <div class="listBody">
                {{range . }}
                    <div class="originalPostContainer">
                        <div class="originalPost">
                            <div class="replyHeader">
                                <input class="postSelect" type="checkbox">
                                <select class="postAction" name="EXC" type="button" title="post.execute(USER_OPTION);">
                                    <optgroup label="personalCommands {">
                                        <option value="hide">hide(post); // Hide</option>
                                        <option value="filterName">filter(name); // Filter name</option>
                                        <option value="filterID">filter(id); // Filter ID</option>
                                    </optgroup>
                                    <optgroup label="} userCommands {">
                                        <option value="report">snitchPosterTo(mods); // Report user</option>
                                    </optgroup>
                                    <optgroup label="} authorCommands {">
                                        <option value="deleteMedia">delete(media); // Delete media</option>
                                        <option value="deletePost">delete(post); // Delete post</option>
                                        <option value="toggleSpoiler">media(toggleSpoiler); // Toggle spoiler</option>
                                        <option value="toggleNSFW">post(toggleNSFW); // Toggle NSFW</option>
                                        <option value="toggleSage">post(toggleSage); // Remove, or replace e-mail with
                                            "sage"</option>
                                        <option value="goldenPost">markAs(gold); // Move post to the top secret lead
                                            board</option>
                                    </optgroup>
                                    <optgroup label="} moderationCommands {">
                                        <option value="ban">sendPosterTo(hell); // Ban</option>
                                        <option value="wokeIt">markAs(gay); // Shadowban</option>
                                        <option value="delete">censureTools(tiananmenSquare); // Delete post</option>
                                        <option value="edit">censureTools(shinyBaldPolitician); // Edit post</option>
                                        <option value="modTools">modTools(open); // Other moderation tools</option>
                                    </optgroup>
                                    <optgroup label="};"></optgroup>
                                </select>
                                <p class="postTopic">{{ .ThreadTitle }}</p>
                                <p class="postName" blink="false">by Pepe the Frog</p>
                                <p class="postTime" blink="false">on
                                    09/04/2024 as 19:53:02 ({{ .CreatedAt }})</p>
                                <p class="staffID" blink="false">MyNameIsPepe@ADMIN</p>
                                <p class="postID">@1</p>
                            </div>
                            <div class="originalPostContent">
                                <img class="originalPostImage" src="static/img/{{.ThreadImg}}">
                                <div>
                                    <p class="originalPostText blink">Hello,
                                        anons.<br>I want to show you all my newest invention:
                                        A
                                        entire imageboard.
                                        <br>It's made using <b>Golang</b>, <b>HTML</b>, <b>CSS</b>, and <i>optional</i>
                                        <b>JavaScript</b>.
                                        <br>
                                        <br>
                                        {{ .ThreadBody }}
                                </div>

                            {{ range .RecentPosts }}
                            <div class="reply" id="reply1">
                                <div class="replyHeader">
                                    <input class="postSelect" type="checkbox">
                                    <select class="postAction" name="EXC" type="button"
                                        title="post.execute(USER_OPTION);">
                                        <optgroup label="personalCommands {">
                                            <option value="hide">hide(post); // Hide</option>
                                            <option value="filterName">filter(name); // Filter name</option>
                                            <option value="filterID">filter(id); // Filter ID</option>
                                        </optgroup>
                                        <optgroup label="} userCommands {">
                                            <option value="report">snitchPosterTo(mods); // Report user</option>
                                        </optgroup>
                                        <optgroup label="} authorCommands {">
                                            <option value="deleteMedia">delete(media); // Delete media</option>
                                            <option value="deletePost">delete(post); // Delete post</option>
                                            <option value="toggleSpoiler">media(toggleSpoiler); // Toggle spoiler
                                            </option>
                                            <option value="toggleNSFW">post(toggleNSFW); // Toggle NSFW</option>
                                            <option value="toggleSage">post(toggleSage); // Remove, or replace e-mail
                                                with
                                                "sage"</option>
                                            <option value="goldenPost">markAs(gold); // Move post to the top secret lead
                                                board</option>
                                        </optgroup>
                                        <optgroup label="} moderationCommands {">
                                            <option value="ban">sendPosterTo(hell); // Ban</option>
                                            <option value="wokeIt">markAs(gay); // Shadowban</option>
                                            <option value="delete">censureTools(tiananmenSquare); // Delete post
                                            </option>
                                            <option value="edit">censureTools(shinyBaldPolitician); // Edit post
                                            </option>
                                            <option value="modTools">modTools(open); // Other moderation tools</option>
                                        </optgroup>
                                        <optgroup label="};"></optgroup>
                                    </select>
                                    <p class="postName" blink="false">by ANONYMOUS_USER</p>
                                    <p class="postTime" blink="false">on
                                        09/04/2024 as 19:53:02</p>
                                    <p class="userID" blink="false">8jA83l</p>
                                    <p class="postID">@2</p>
                                </div>
                                <div class="postBody">
                                    <div class="postContent">
                                        <p class="r blink">
                                            <green>&gt;this theme</green><br>
                                            I liked it, <strong>ABSOLUTELY BASED!</strong><br><br>
                                            {{ .PostBody }}
                                            But:<br>
                                            <pink>&lt;missing theme customization</pink><br>
                                            <pink>&lt;and a lot of things</pink></p>
                                    </div>
                                </div>
                            </div>
                            {{ end }}
                        </div>
                    </div>
                </div>
                {{ end }}
            </div>
            <div style="display:flex; flex-direction:column; align-items: center;">
                <p id="notSeriousBro">The stories and information posted here are artistic works of fiction and
                    falsehood.
                    Only a fool would take anything posted here as fact.</p>
                    <img id="rei" src="static/img/rei.png"></div>
                    <p id="reiText">「終わりに着きました。」</p>
            </div>
        </div>
    </div>


</body>

</html>
