<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monochan</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
<body>
    <div class="container">
        <div class="top-margin">
            <h2 class="margin-title">GNU-NAVIX WIRED V1337 BY MACROSOFTWARE (R)</h2>
        </div>
        <div class="main-content">
            <img class="banner" src="/static/img/homeBanner.jpg">
            <p class="home-title">monochan</p>
            <p class="hidden-text">when you stares too long the abyss, the abyss will stare you back</p>

            <div id="boardsList">
                <div class="listHeader">
                    <p>boards</p>
                </div>
                <div class="listBody">
                    <a href="b.html" style="text-decoration: none">
                        <p>/b/ - forBidden files</p>
                    </a>

                    <a href="caralho" style="text-decoration: none">
                        <p>/pol/ - toP secret nwO Leaks</p>
                    </a>

                    <a href="caralho" style="text-decoration: none">
                        <p>/ani/ - cia vAcciNatIon dna samples</p>
                    </a>

                    <a id="forbidden" style="text-decoration: none">
                        <p id="forbtext">/ERR/ - F0RB1DD3N_1337</p>
                    </a>
               </div>
            </div>
        </div>
    </div>

    <script type="module" src="/static/js/japescript.js"></script>
    <script type="module" src="/static/js/script.js"></script>
</body>

</html>